/* GENERAL STYLING */
html {
  background: url(../images/flowertile.jpg) repeat;
  box-sizing: border-box !important;
}

body {
  position: relative;
  z-index: -1;
}

header {
  opacity: 0.8;
}

h1 {
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  height: 80px;
  background: rgb(105, 105, 105);
  color: rgb(160, 236, 255);
  border-bottom: solid rgb(160, 236, 255) 10px;
  padding-top: 8px;
  padding-left: 40px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Clicker Script", cursive;
}

#sticky-footer {
  min-height: calc(100vh - 80px);
  position: relative;
  z-index: -1;
}

footer {
  box-sizing: border-box;
  height: 80px;
  background: rgb(105, 105, 105);
  opacity: 0.8;
  border-top: solid rgb(160, 236, 255) 10px;
  font-size: 30px;
  font-family: "Reenie Beanie", cursive;
  color: rgb(160, 236, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* START PAGE STYLING */
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 155px;
  width: 155px;
  font-size: 80px;
  font-family: "Clicker Script", cursive;
  padding-right: 5px;
  border: dotted black 3px;
  border-radius: 50%;
  cursor: pointer;
}

h2:hover {
  border: dotted black 6px;
}

#button-centering {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px);
}

/* TRIVIA CONTENT STYLING*/
#trivia-formatting {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px);
  width: 60%;
  font-size: 25px;
  font-weight: bolder;
  font-family: "Clicker Script", cursive;
  background: url(../images/wrinkledletter.png);
  background-size: cover;
  margin: auto;
  border-left: solid rgb(160, 236, 255) 10px;
  border-right: solid rgb(160, 236, 255) 10px;
  color: black;
  line-height: 60px;
}

#time-keeper {
  margin-top: 20px;
}

#ask-question {
  margin: 0 40px;
}

.li-choices {
  text-align: center;
  padding: 10px;
  max-width: 80%;
  width: 465px;
  height: 80px;
  box-sizing: border-box;
  margin: 10px auto;
  cursor: pointer;
}

/* LETTER SIGNATURE STYLING*/
#signature {
  position: absolute;
  bottom: 0;
  right: 30px;
}

#signature span {
  position: absolute;
  right: 154px;
  bottom: 34px;
}

/* END RESULT STYLING */
.end-results {
  display: flex;
  justify-content: flex-end;
  padding-right: 46px;
}

#ul-end-results {
  border: solid black 1px;
  width: 245px;
  border-radius: 5px;
}

#closing-text {
  margin-bottom: 20px;
  position: absolute;
  top: 100px;
}

#reveal-button {
  height: 37px;
  width: 260px;
  font-family: sans-serif;
  font-size: 20px;
  font-variant-caps: petite-caps;
  position: absolute;
  bottom: 110px;
  color: black;
  letter-spacing: 1px;
}
